* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
main {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
main h1 {
    min-width: 100%; /* Como el h1 está dentro del flex le damos 100% para que ocupe toda una fila */
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1rem;
    color: rgb(156, 7, 7);
}
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.producto {
    box-shadow: 0 0 4px grey;
    border-radius: 5px;
    margin: 10px;
    transition-property: transform;
    transition-duration: 500ms;
}
.producto img {
    padding: 10px;
}
.producto:hover {
    transform: scale(1.1);
}
.nombre {
    padding: 5px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    color:rgb(10, 77, 170);
}
.precio {
    text-align: end;
    padding: 5px;
    background-color: rgba(17, 180, 235, 0.594);
}
#pedido {
    min-width: 200px;
    padding: 20px;
    background-color: antiquewhite;
    color:rgb(157, 98, 9)
}
#pedido h2 {
    font-size: 1.4rem;
    text-align: center;
    border-bottom: 2px solid rgb(157, 98, 9);
}
#pedido li {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(220, 187, 145);
}
#total {
    padding: 5px;
    text-align: end;
    font-weight: bold;
    border-top: 2px solid rgb(157, 98, 9);;
}
#vaciar {
    border-radius: 5px;
    background-color: rgb(165, 11, 11);
    color:white;
    text-align: center;
    width: 100%;
    padding: 5px;
    font-weight: bold;
}
#vaciar:hover {
    background-color: rgb(223, 58, 58);
}
